a.title,a.card-title{
    font-size: 25px;
}

a.navbar-brand{
    font-size: 35px;
    font-family: fantasy;
    padding-top: 20px;
}

img.icon{
    width: 20%;
}

a.card-title, h1{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

p.card-text{
    color: rgb(69, 69, 69);
}