<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collector</title>
    <link rel="stylesheet" href="mainnews.css">
</head>
<body>
    <h1>Collector</h1>
    <hr>
    <h2>BBC</h2>
    <section>
        {% for data in bbcdata %}
        <div>
            <a href="https://www.bbc.com/{{data[1]}}" target="_blank">{{data[0]}}</a>
            <p>{{data[2]}}</p>
        </div>
        <hr>
        {% endfor %}
    </section>
    

</body>
</html>