<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collector</title>
    <link rel="stylesheet" href="static/mainnew.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
   
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Collector</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            News
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://www.bbc.com" target="_blank">BBC</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" target="_blank">Another newspage</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" target="_blank">Something else newspage</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Movies
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://www.bbc.com" target="_blank">BBC</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" target="_blank">Another newspage</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" target="_blank">Something else newspage</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Animes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://www.bbc.com" target="_blank">BBC</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" target="_blank">Another newspage</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" target="_blank">Something else newspage</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="https://www.bbc.com" target="_blank">More</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#Anime">test</a>
        </li>
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
  <div class="container">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://static.vecteezy.com/ti/gratis-vector/p3/5502524-bioscoop-achtergrond-concept-film-theater-object-op-rood-gordijn-achtergrond-en-film-tijd-met-elektrische-lampen-frame-illustratie-gratis-vector.jpg" class="d-block w-100" alt="img1">
          </div>
          <div class="carousel-item">
            <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_nbcnews-fp-1200-630,f_auto,q_auto:best/newscms/2019_01/2705191/nbc-social-default.png" class="d-block w-100" alt="img3">
          </div>
          <div class="carousel-item">
            <img src="https://img.4gamers.com.tw/news-image/9b98a440-5abf-4c69-9281-f7088fad1e6c.jpg" class="d-block w-100" alt="img3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <hr>
    <h1>NEWS</h1>
    <hr>
    <h2>BBC</h2>
    <section>
        {% for data in bbcdata %}
        <div class="newbox">
            <a href="https://www.bbc.com/{{data[1]}}" target="_blank" class="title">{{data[0]}}</a>
            <p id="content">{{data[2]}}</p>
        </div>
        <hr>
        {% endfor %}
    </section>

    {% for data in bbcdata %}
    <div class="card border-primary mb-3" style="max-width: 100rem;">
      <a href="https://www.bbc.com/{{data[1]}}" target="_blank" class="card-header">{{data[0]}}</a>
      <div class="card-body text-primary">
        <a href="https://www.bbc.com/{{data[1]}}" target="_blank" class="card-title">{{data[0]}}</a>
        <p class="card-text">{{data[2]}}</p>
      </div>
    </div>
    {% endfor %}

    <hr>
    <h1>MOVIES</h1>
    <hr>
    <h2>BBC</h2>
    <section>
      <div class="row">
        {% for data in bbcdata %}
        <div class="newbox col-3 p-2">
          <a href="https://www.bbc.com/{{data[1]}}" target="_blank" class="title">{{data[0]}}</a>
          <p id="content">{{data[2]}}</p>
        </div>
        {% endfor %}
      </div>
    </section>

    <hr>
    <h1>ANIMES</h1>
    <hr>
    <h2 id="Anime">BBC</h2>
    <section>
        {% for data in bbcdata %}
        <div class="newbox">
            <a href="https://www.bbc.com/{{data[1]}}" target="_blank" class="title">{{data[0]}}</a>
            <p id="content">{{data[2]}}</p>
        </div>
        <hr>
        {% endfor %}
    </section>
  </div>
</body>
</html>